@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>


}
else
{

    @*User profile section*@
    <div class="dropdown" >

        <button class="btn btn-outline-success dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i>Hello @UserManager.GetUserName(User)
        </button>

        <div class="dropdown-menu" style="background-color:transparent;  border:none">
            <input class="btn btn-danger" style="width:200px" type="button" value="My Profile" onclick="location.href='@Url.Action("Edit", "ShopUserDetails")'" />
        </div>


    </div>
    <span style="padding: 5px;"></span>
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="LogOut">
        <i class="bi bi-box-arrow-in-right"></i> Log Out
    </a>
}
