<LINK rel="" type="text/css"
      href="~/css/mycolors.css" title="Default Styles" media="screen">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <!---->
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="yellow-centerr"><i class="material-icons">flash_on</i></h2>
                    <h5 class="align-content-center">About Shop</h5>

                    <p class="azure">If you're a fan of motorcycles, Moto-Tour is definitely the place for you. Our motorcycle store offers a wide range of products such as high-end motorcycle clothing, helmets or a variety of motorcycle accessories. Because we know how important is the high quality of this type of products, we care about this issue the most.</p>
                </div>
            </div>



            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="yellow-centerr"><i class="material-icons">group</i></h2>
                    <h5 class="align-content-center">About Us</h5>

                    <p class="azure">Our motorcycle store is a place where you will find products of such brands as Rukka, Dainese, Schuberth, Modeka, Shoei, Held, as well as Alpinestars, Seca, Revit'it, Hjc, Caberg, TCX, Scorpion, Buse or Nolan. Why is it worth choosing Moto-Tour? Our motorcycle store is a place run by enthusiasts. We are staunch fans of motorcycles ourselves, and that's why the vast majority of our products have been personally tested by us.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="yellow-centerr"><i class="material-icons">settings</i></h2>
                    <h5 class="align-content-center">About Product's'</h5>

                    <p class="azure">This is where you will find an equally wide range of motorcycle cases, such as SW-Motech, Givi, Kappa and accessories, ie navigations, crafts, windows, crashpads, exhausts and mirrors. Of course, you can easily find in our offer products for the care of clothes or motorcycles. Our offer interested you?</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
   
            <div class="col l3 s12">
                <h5 class="white-center">Settings</h5>
                <ul>
                    <li><a class="text-Black-center" href="https://spicerparts.com/calculators/engine-displacement-calculator">Engine Size Calculator</a></li>

                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-center">Connect</h5>
                <ul>
                    <li><a class="text-Black-center" href="https://www.bennetts.co.uk/bikesocial/news-and-views/features/bikes/hypersport-motorcycle-history">MotorBike Sport History</a></li>

                </ul>
            </div>
        </div>
    </div>   
</footer>