<div class="row">
    <div class="col-md-6 offset-3">
        <h1>You've reached the end of the internet</h1><img style="background-color:transparent; border-radius:15%; opacity: 0.7;" src="~/css/image/snowballcarrot.jpeg" />
        <hr />
        <a class="btn btn-danger" asp-controller="ShopeCategory" asp-action="Index">Home Page</a>
    </div>
</div>