<LINK rel="" type="text/css" href="~/css/mycolors.css" title="Default Styles" media="screen">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/css/mycolors.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Home Page";
}




<video id="background-video" autoplay loop muted>

    <source src="~/css/video/zeromotorcycles2021.mp4" type="video/mp4" />

</video>

<a style="background-color:wheat; font-size:large">Admin Account =    User: admin Password: AdminAdmin!</a>

<div class="flex-container">
    <a  onclick="location.href='@Url.Action("Index", "ShopeCategory")'">ENTER SHOPE </a>
</div>



<div>

    <p>visit my github <a href="https://github.com/defectedme">GITHUB</a>.</p>

</div>




